.container {
  margin: 0 auto;
  max-width: 64rem;
}

.hero-content {
  position: relative;
  min-height: 600px;
  background-image: url(../images/Portrait1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment:fixed;
}

.hero-content .hero-title {
  position:absolute;
  top:40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size:4rem;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:0.9rem;
  text-shadow: .2px .2px 0px rgb(58,23,63);
  font-family: 'STIXGeneral', serif;
}

.hero-content .hero-subtitle {
  position:absolute;
  top:54%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size:2rem;
  font-weight:200;
  text-transform:uppercase;
  letter-spacing:0.1rem;
  text-shadow: .2px .2px 0px rgb(58,23,63);
  font-family: 'Gurmukhi MT', sans-serif;
}

.hero-content .hero-text {
  position:absolute;
  top:70%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size:.9rem;
  font-weight:100;
  text-transform:uppercase;
  letter-spacing:0.05rem;
  text-shadow: 1px 1px 0px rgb(58,23,63);
  font-family: 'SF Pro display', sans-serif;
}

.latest-work {
  position: relative;
}

.latest-work .work-header {
  position:relative;
  width: 100%;
  text-align: center;
  font-size:.9rem;
  font-weight:100;
  letter-spacing:0.05rem;
  color: #141414;
  font-family: 'SF Pro display', sans-serif;
}

.point {
  position:relative;
  padding:2rem;
  text-align:center;
  opacity: 0;
  -webkit-transform: scaleX(0.9) translateY(3rem);
  -moz-transform: scaleX(0.9) translateY(3rem);
  transform: scaleX(0.9) translateY(3rem);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.point .point-title {
  font-size: 1.25rem;
}
