*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height:100%;
  font-size: 100%;
}

body {
  min-height: 100%;
}
/*
body nav div {
  padding:1em 0;
}
*/


/*Nav Bar CSS*/
.navbar .name a {
  vertical-align:middle;
  position:relative;
  text-decoration:none;
  color:#141414;
  font-family: 'hind siliguri', sans-serif;
  font-weight:300;
  transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
}


.links ul {
  margin:0; /*Come back to this*/
  vertical-align:middle;
  position:relative;
}

@media (min-width:1070px){
  .navbar .container {
    width:78%;
  }
  .navbar {
    position: fixed;
    padding: 0.5rem;
    background-color: rgba(253, 253, 253, .7);
    overflow:hidden;
    width:100%;
    z-index: 2000;
    /*box-shadow: 0 5px 22px rgba(0,0,0,.12);*/
    top:0;
  }
  .links ul > li {
    list-style-type: none;
    display: inline-block;
    margin:0; /*Come back to this*/
    vertical-align:middle;
    height:100%;
    position:relative;
    padding-left:35px;
    color:#141414;
    font-size:0.82rem;
    letter-spacing:0.05rem;
    font-weight:700;
    text-transform:uppercase;
  }
  .navbar .links {
    position: relative;
    text-decoration: none;
    color: #141414;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 0.02rem;
    font-weight: 700;
    cursor:pointer;
    height: 100%;
    vertical-align: middle;
    text-align:center;
    display: inline-block;
    padding-left: 1rem;
    height:100%;
    padding:0;
    margin-right:0;
    float:none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    float:right;
  }
  .navbar .name {
    position: relative;
    text-decoration:none;
    color:#141414;
    text-transform:uppercase;
    font-size:1.2rem;
    letter-spacing:0.02rem;
    font-weight:700;
    cursor:pointer;
    height:100%;
    vertical-align:middle;
    display:inline-block;
    padding-right:1rem;
    margin-left:0;
    height:100%;
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (min-width:670px) and (max-width:1069px) {
  .container {
    width:90%;
  }
  .navbar {
    position: fixed;
    padding: 0.5rem;
    background-color: rgba(253, 253, 253, .88);
    overflow:hidden;
    width:100%;
    z-index: 2000;
    /*box-shadow: 0 5px 22px rgba(0,0,0,.12);*/
    top:0;
  }
  .links ul > li {
    list-style-type: none;
    display: inline-block;
    margin:0; /*Come back to this*/
    vertical-align:middle;
    height:100%;
    position:relative;
    padding-left:35px;
    color:#141414;
    font-size:0.82rem;
    letter-spacing:0.05rem;
    font-weight:700;
    text-transform:uppercase;
  }
  .navbar .links {
    position: relative;
    text-decoration: none;
    color: #141414;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 0.02rem;
    font-weight: 700;
    cursor:pointer;
    height: 100%;
    vertical-align: middle;
    text-align:center;
    display: inline-block;
    padding-left: 1rem;
    height:100%;
    padding:0;
    margin-right:0;
    float:none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    float:right;
  }
  .navbar .name {
    position: relative;
    text-decoration:none;
    color:#141414;
    text-transform:uppercase;
    font-size:1.2rem;
    letter-spacing:0.02rem;
    font-weight:700;
    cursor:pointer;
    height:100%;
    vertical-align:middle;
    display:inline-block;
    padding-right:1rem;
    margin-left:0;
    height:100%;
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (max-width:669px){
  .navbar {
    position: fixed;
    padding: 0.5rem;
    background-color: rgba(253, 253, 253, .95);
    overflow:hidden;
    width:100%;
    z-index: 2000;
    /*box-shadow: 0 5px 22px rgba(0,0,0,.12);*/
    top:0;
  }
  .links ul > li {
    list-style-type: none;
    display: inline-block;
    vertical-align:middle;
    height:100%;
    position:relative;
    padding:10px;
    color:#141414;
    font-size:0.82rem;
    letter-spacing:0.05rem;
    font-weight:700;
    text-transform:uppercase;
  }
  .navbar .links {
    position: relative;
    font-size: .95rem;
    letter-spacing: 0.02rem;
    font-weight: 700;
    cursor: pointer;
    height: 100%;
    vertical-align: baseline;
    text-align:center;
    height:100%;
    margin:0 auto;
  }
  .navbar .name {
    position: relative;
    text-decoration:none;
    color:#141414;
    text-transform:uppercase;
    font-size:1.0rem;
    letter-spacing:0.02rem;
    font-weight:700;
    cursor:pointer;
    height:100%;
    vertical-align:middle;
    display:inline-block;
    margin:auto 0;
    height:100%;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:2%;
    text-align:center;
  }
  .links ul {
    padding:0;
  }
}

.navbar li a{
  color:#141414;
  font-weight:700;
  text-decoration:none;
  font-family: 'hind siliguri', sans-serif;
  font-weight:600;
  cursor:pointer;
  transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
}

.navbar li a:hover {
  color:#AAB1AD;
}

.navbar .name a:hover {
  color:#AAB1AD;
}
/*End Nav Bar CSS*/


/*Footer CSS*/
.footer {
  display: block;
  bottom:0;
  padding: 0.05rem;
  background-color: rgb(246, 245, 241);
  overflow:hidden;
  width:100%;
  z-index: 2000;
  box-shadow: 0 -1px 2px rgba(0,0,0,.08);
  margin-top:20px;
}

.copyright-info {
  width: auto;
  float: left;
}

.copyright-info p {
  padding-top: 15px;
  text-align: left;
  margin-right: 40px;
  font-size: .7em;
  text-align: left;
  padding-bottom: 10px;
  line-height: 1.8;
  font-family: "hind siliguri",sans-serif;
  font-style: normal;
  font-weight: 300;
  cursor:default;
}

.social-bar {
  width: auto;
  float: right;
  text-align: center;
}

.social-bar ul {
  text-align: right;
  list-style: none;
}

.social-bar li {
  display: inline;
  padding-right: 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 200;
}

.social-bar a {
  text-decoration: none;
  color: #141414;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.social-bar li i {
  background-color: #FFFFFF;
  border-radius:100px;
  padding: 7px;
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
}

.social-bar li i:hover {
  background: #AAB1AD;
  text-decoration: none;
  color:#FFFFFF;
}

.social-bar .fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

.social-bar .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width:1120px) {
  .social-bar {
    width: auto;
    float: right;
    margin:0;
    padding:0;
    text-align: center;
  }
  .social-bar ul {
    padding:0;
  }
  .copyright-info {
    width: auto;
    margin-left:auto;
    float: left;
  }
  .copyright-info p {
    width: 100%;
    margin-top:20px;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
    padding:0;
    float: none;
  }
}

@media (max-width:535px) {
  .social-bar {
    width: auto;
    float: left;
    margin-left:20%;
    padding:0;
    text-align: center;
  }

/*End footer CSS*/

@media (min-width:1071px) {
  .container {
    margin: 0 auto;
    width:65%;
  }
  .footer .container {
    margin: 0 auto;
    width:65%;
  }
}

@media (max-width:1070px) {
  .container {
    margin: 0 auto;
    width:90%;
  }
  .footer .container {
    width:85%;
  }
}

/* Medium and small screens (640px) */
@media (max-width: 640px) {
  html {
    font-size: 100%;
  }

  .container {
    margin: 0 auto;
    width:90%;
  }

  .column {
    float: left;
    padding-left: 1rem;
    padding-right:1rem;
  }
  .column.full { width:100%;}
  .column.two-thirds {width:66.7%;}
  .column.half {width:50%;}
  .column.third {width:33.3%;}
  .column.fouth {width:25%;}
  .column.flow-opposite {float:right;}
}

/* Large screens (1024px) */
@media (min-width: 1024px) {
  html {
    font-size: 110%;
  }
}
