*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height:100%;
  font-size: 100%;
}

body {
  min-height: 100%;
}
/*
body nav div {
  padding:1em 0;
}
*/


/*Nav Bar CSS*/
.navbar {
  position: fixed;
  padding: 0.5rem;
  background-color: rgba(227,237,233,.98);
  overflow:hidden;
  width:100%;
  z-index: 2000;
  box-shadow: 0 5px 22px rgba(0,0,0,.12);
  top:0;
}

.navbar .name {
  position: relative;
  text-decoration:none;
  color:#141414;
  text-transform:uppercase;
  font-size:1.1rem;
  letter-spacing:0.02rem;
  font-weight:700;
  cursor:pointer;
  height:100%;
  vertical-align:middle;
  display:inline-block;
  padding-right:1rem;
  margin-left:0;
  height:100%;
  padding-top:10px;
  padding-bottom:10px;
}

.navbar .name a {
  vertical-align:middle;
  position:relative;
  text-decoration:none;
  color:#141414;
  font-family: 'Gurmukhi MT', sans-serif;
  font-weight:300;
}

.navbar .links {
  position: relative;
  float:right;
  text-decoration: none;
  color: #141414;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.02rem;
  font-weight: 700;
  cursor: pointer;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  padding-left: 1rem;
  height:100%;
  padding-top:10px;
  padding-bottom:10px;
}


.links ul {
  margin:0; /*Come back to this*/
  vertical-align:middle;
  position:relative;
}

.links ul > li {
  list-style-type: none;
  display: inline-block;
  margin:0; /*Come back to this*/
  vertical-align:middle;
  height:100%;
  position:relative;
  padding-left:35px;
  color:#141414;
  font-size:0.72rem;
  letter-spacing:0.05rem;
  font-weight:700;
  text-transform:uppercase;
}

.navbar li a{
  color:#141414;
  font-weight:700;
  text-decoration:none;
  font-family: 'Gurmukhi MT', sans-serif;
  font-weight:600;
  cursor:pointer;
}

.navbar li a:hover {
  color:#B9CBC4;
}
/*End Nav Bar CSS*/


/*Footer CSS*/
.footer {
  /*border-top: 1px solid black;*/
  height: 100%;
  display: block;
  bottom:0;
  padding: 0.05rem;
  background-color: #AAB1AD;
  overflow:hidden;
  width:100%;
  z-index: 2000;
}

.copyright-info {
  width: 50%;
  float: left;
}

.copyright-info p {
  padding-top: 15px;
  text-align: left;
  margin-right: 40px;
  font-size: .7em;
  text-align: left;
  padding-bottom: 10px;
  line-height: 1.8;
  font-family: "pragmatica-web",sans-serif;
  font-style: normal;
  font-weight: 300;
  cursor:default;
}

.social-bar {
  width: 50%;
  float: right;
  text-align: center;
}

.social-bar ul {
  text-align: right;
  list-style: none;
}

.social-bar li {
  display: inline;
  padding-right: 10px;
  font-family: "pragmatica-web",sans-serif;
  font-style: normal;
  font-weight: 200;
}

.social-bar a {
  text-decoration: none;
  color: #141414;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.social-bar li i {
  background-color: #FFFFFF;
  border-radius:100px;
  padding: 10px;
}

.social-bar li i:hover {
  background: #141414;
  text-decoration: none;
  color:#FFFFFF;
}

.social-bar .fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

.social-bar .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*End footer CSS*/


.container {
  margin: 0 auto;
  width:65%;
}

/* Medium and small screens (640px) */
@media (min-width: 640px) {
  html {
    font-size: 112%;
  }

  .container {
    margin: 0 auto;
    width:75%;
  }

  .column {
    float: left;
    padding-left: 1rem;
    padding-right:1rem;
  }
  .column.full { width:100%;}
  .column.two-thirds {width:66.7%;}
  .column.half {width:50%;}
  .column.third {width:33.3%;}
  .column.fouth {width:25%;}
  .column.flow-opposite {float:right;}
}

/* Large screens (1024px) */
@media (min-width: 1024px) {
  html {
    font-size: 110%;
  }
}
